@use "sass:math";

.card.fast-tagger-card {

    overflow: visible;

    .tag-item.badge {
        margin-left: 0;
    }

    .btn-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .btn {
            text-wrap: nowrap;
        }
    }
}
